.container {
    margin-top: 10px;
    max-width: 500px;
}

.purchase-card {
    border: 1px solid #d3d3d3;
    box-shadow: 2px 2px 2px 0px;
    padding: 1em;
}

.purchase-card > .show-grid {
    padding-bottom: 1.5em;
}

.item-description {
  background-color: #f2f2f2;
  margin-top: 10px;
}

.item-image {
    width: 100px;
    height: 100px;
    margin-top: 6px;
    margin-left: 6px;
}

.item-text {
    margin-left: 10px;
}

.price-strike {
    text-decoration-line: line-through;
    color: grey; 
}